<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

  {% block content %}
<body class="body-about">
  <div class="about-bg">
      <main>
        <section class="about_us">
            <div class="about_container">
                <h2>О НАС</h2>
                <p>Самый простой способ превратить образ, душевное состояние или сильную эмоцию в вечное воспоминание - это студийная фотография. Но даже самым одаренным фотографам нужно нечто большее, чем просто талант, страсть и креативность, чтобы добиться выдающихся результатов. Полностью оборудованная студия, где вы можете играть с различными типами света, является важным элементом, существенно влияющим на качество вашей работы.</p>
                <p>Настоящие профессионалы, стремящиеся к совершенству, довольствуются оборудованием премиум-класса и идеальным балансом освещения, что позволяет им получать желаемые результаты практически без усилий. В этом волшебное очарование студийной фотографии: она позволяет художникам раскрыть свои уникальные навыки и реализовать свое видение, не беспокоясь о технических проблемах и опасениях, которые обычно снижают интенсивность фотосессии и приводят к плоским, посредственным результатам.</p>
                <p>Наслаждайтесь своей творческой и продуктивной фотосессией и возвращайтесь поскорее!</p>
                <p>Мы специализируемся на производстве качественного фотоконтента, такого как мода и красота, съемка коллекций для дизайнеров одежды, снимки актеров, модельные тесты, розничная реклама и онлайн-коммерция - от однодневных съемок до долгосрочных отношений.</p>
                <p>Качество наших работ и личное внимание к нашим клиентам - вот что отличает LKA STUDIO от других.</p>
                <p>С любыми вопросами или предложениями, пожалуйста, свяжитесь с нами на главной странице <br> "в контакт".</p>
                <p class="Cont">StudioLKA@mail.ru</p>
                
            </div>
            <footer class="main_footer_about">
              <div class="item_footer ITfooter1">
                  <a href="#" class="footer_logo">
                      <img src="{% static 'IMG/LOGO/FOXLOGODIS.png' %}" width="120px" height="120px" alt="">
                      <p>STUDIO <br> LKA</p>
                  </a>
              </div>
          
              <div class="item_footer ITfooter2">
                  <ul class="rule_list">
                      <li><a href="#">Studio rules & Rental agreement </a></li>
                      <li><a href="#">Privacy Policy</a></li>
                  </ul>
              </div>
          
              <div class="item_footer ITfooter3">
                  <span class="copyright">© Copyright <a href="#">Studio LKA</a></span>
              </div>
          </footer>
        </section>
    </main>
  </div>

  
</body>
  {% endblock content %}

</html>