<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="add_post_style">
      <section class="blog-detail-style">
        {% if user.is_authenticated %}
          {% if user.id == post.author.id %}
          <h1 class="title_createpost">РЕДАКТИРОВАНИЕ ПОСТА</h1>
          <div class="new_post_create">
            <form method="post">
              {% csrf_token %}<br>
              {{ form.title }}<br>
              {{ form.author }}<br>
              {{ form.body }}<br>
              <span>{{ error }}</span>
              <input class="CreatePost_btn" type="submit" value="СОХРАНИТЬ">
            </form>
          </div>
          {% else %}
          <div class="HEY">
               <p>Эййй... это не твой пост ;(</p>
          </div>
          {% endif %}
      {% endif %}
      </section>
  </main>
{% endblock %}
</body>
</html>