<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% extends 'base.html' %}
{% block content %}
<body>
    <main class="contacts_main">
        <section class="contacts_section">
            <div class="contact_container">
                <h2>Main studio</h2>
                <p>location</p>
                <p>send us an email</p>
                <p>number</p>
            </div>
            
            <div class="contact_container">
                <h2>Main studio</h2>
                <p>location</p>
                <p>send us an email</p>
                <p>number</p>
            </div>

            <div class="contact_container">
                <h2>Main studio</h2>
                <p>location</p>
                <p>send us an email</p>
                <p>number</p>
            </div>
            
            <div class="contact_container">
                <h2>Main studio</h2>
                <p>location</p>
                <p>send us an email</p>
                <p>number</p>
            </div>

            
        </section>
    </main>
</body>
{% endblock content %}
</html>